@import "../_globalColor";

.dark-mode {
  background-color: $darkBackground;
  color: lavender;
  transition: "0.1s";
}

// .gif-section {
//   display: flex;
//   justify-content: right;
//   margin: 3rem 0;
// }

// .animation-gif {
//   width: 220px;   // adjust to taste
//   height: auto;
// }
