@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.software-skill-inline {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.software-skill-inline > i {
  font-size: 50px;
  color: $iconMono;
}

.software-skill-inline > i:hover {
  color: $iconMonoHover;
}

.skill-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  color: $subTitle;

  opacity: 1;
}

.software-skill-inline:hover .skill-icon,
.software-skill-inline:hover i {
  fill: $skillsColor;
  color: $skillsColor;
}

.software-skill-inline > p {
  color: $subTitle;
  font-size: 10px;
  margin: 8px 0 0;
}
